.banner {
  height: 460px;
  position: relative;
}
.banner-cover img {
  width: 1226px;
  height: 460px;
}
.banner-point{
    color:#b8c3cb;
    font-size: 30px;
    width:40px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    top:50%;
    margin-top:-35px;
    position:absolute;
}
.banner-point-left{
    left:234px;
}
.banner-point-right{
    right:0;
}
.banner-point:hover{
    color:#fff;
    background-color: rgba(0,0,0,0.5);
}
.banner-pots{
    position: absolute;
    right:30px;
    bottom:30px;
}
.banner-pots span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:2px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.4);
    margin: 0 4px;

}
.banner-pots .banner-pots-selected{
    border:2px solid rgba(0,0,0,0.4);
    background-color: rgba(255,255,255,0.3);;
}


.banner-menu{
    position: absolute;
    width:234px;
    height: 100%;
    background-color: rgba(105,101,101,0.6);
    padding:20px 0;
    top:0;
    left:0;
}
.banner-menu .banner-menu-item{
    padding-left:30px;
    padding-right:20px;
    /* padding:0 20px 0 30px; */
    height:42px;
    line-height: 42px;
    color: #fff;
    cursor:pointer;
}
.banner-menu-item:hover{
    background-color: #f40;
}
li:hover .banner-sub-menu{
    display: block;
}
li:hover .banner-menu-item{
    background-color:#f40;
}

.banner-sub-menu{
    display:none;
    position: absolute;
    height:100%;
    width:992px;
    left:234px;
    top:0;
    background-color: #fff;
    /* 忘了 */
    border:1px solid #eee;
}
.banner-sub-menu a{
    height:16.66%;
    width:25%;
    /* 此处用padding */
    padding:0 20px;
}
.banner-sub-menu img{
    width:40px;
    height:40px;
    margin-right:12px;
    margin-top:17px;
}
.banner-sub-menu span{
    margin-top:28px;
    width:154px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




